@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
 


    <link rel="stylesheet" href="~/colorlib-regform-15/fonts/material-icon/css/material-design-iconic-font.min.css">

    <link rel="stylesheet" href="~/colorlib-regform-15/css/style.css">
</head>
<body>

 
                
                    <img style="margin-left:200px"  src="~/colorlib-regform-15/images/Formlar.png" alt="">
                
                

    <script src="~/colorlib-regform-15/vendor/jquery/jquery.min.js"></script>
    <script src="~/colorlib-regform-15/js/main.js"></script>
</body>
</html>


